{% extends "base.html" %}
{% block content %}
    
    
<div class="container">
  <div class="row">
    <div class="col"> 

<div class="container p-1">
<div class="row justify-content-center p-2 bg-success text-white">
    <h2>Give a Plasma Saves a lifes</h2></div> </div>
      <hr>
 
<h1> ABOUT US</h1>
This system proposed here aims at connecting the donors & the patients by an online web application. <br><br>

By using this application, the users can either raise a request for plasma donation or requirement.<br><br> 

This system is used if anyone needs a Plasma Donor. This system comprises of Admin and User where both can request for a Plasma.<br><br> 

In this system there is something called an active user, which means the user is an Active member of the App and has recovered from Covid 19, only such people are recommended here for Plasma Donation.<br>


    
    </div> </div></div>
 
    {% endblock %}
    
